@import "bower_components/bootstrap/less/bootstrap.less";

@grid-gutter-width: 0;

.generate-rows(@n, @i: 1) when (@i =< @n) {
    .row-xs-@{i} {
        height: (@i * 100% / @n);
    }
    .generate-rows(@n, (@i + 1));
}
.generate-rows(12);

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.fit {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.context {
    position: relative;
}

.detach {
    position: absolute;
}

.fill {
    .fill-width();
    .fill-height();
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.heightless {
    height: 0;
}

.widthless {
    width: 0;
}

.generate-z(@n, @i: 1) when (@i =< @n) {
    .z@{i} {
        z-index: (@i);
    }
    .generate-z(@n, (@i + 1));
}
.generate-z(5);

.top-right {
    top: 0;
    right: 0;
}

.borderless {
    border: none;
}

.framed {
    border: 1px solid gray;
    outline: none;
}

.layout {
    display: flex;
}

.horizontal {
    flex-direction: row;
}

.vertical {
    flex-direction: column;
}

.grow1 {
    flex-grow: 1;
}

.contained {
        overflow: hidden;
}

iframe {
    display: block;
}

label {
    opacity: .5;
    padding: 5px 8px;
    .user-select(none);
}

.editor {
    position: relative;
    textarea {
        padding-top: 1em;
    }
}

.no-auth {
    body.auth & {
        display: none;
    }
}

.only-auth {
    body:not(.auth) & {
        display: none;
    }
}

#output-menu {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
    > span {
        line-height: 20px;
    }
    nav {
        margin-right: 5px;
    }
    ul {
        list-style: none;
        direction: rtl;
        li {
            display: inline;
        }
    }
}

#output-wrapper {
    transition: all 500ms linear;
    transition-property: height, width, left, top, transform, border;
    transform-origin: top center;
    &.mobile-size {
        height: 960px;
        width: 640px;
        left: ~"calc(50% - 320px)";
        top: 20px;
        border: 10px solid lightgray;
        margin-bottom: 20px;
        transform: scale(.5);
    }
    &.sd-size {
        height: 768px;
        width: 1366px;
        left: ~"calc(50% - 683px)";
        top: 20px;
        border: 10px solid lightgray;
        margin-bottom: 20px;
        transform: scale(.5);
    }
}
